html {
  font-size: 14px;
}

main {
    padding: 10%;
    margin:10%; 
}

#quote {
    padding :10%; 
}


.container {
    height : 95%;
}

footer {
    position: fixed;
    height: 10%;
    bottom: 0;
    width: 100%;
    background-color: #262626;
    display: inline;
    color: white
}

.footer_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

.list_item {
    margin: auto 0.2em auto 0.2em;
    text-align: center;
    width: 100%;
    font-size: large;
    color: white;
    font-weight: bold;
    
}

a {
    text-decoration: none; /* no underline */
}


a:hover {
    background-color: #DEDEDE;
    padding: 1em;
}

@media only screen and (max-width: 461px) {

    a:hover {
        background-color: #DEDEDE;
        padding : 0;
    } 

}






