@model IsHalfLife3Confirmed.Models.FetchData; 
@{
    ViewData["Title"] = "Home Page";
    Console.WriteLine(@Model.ToString());
    if (@Model.confirmed == false)
    {
    <div class="text-center">
        <h1 class="display-4">Is Half-Life 3 Confirmed? </h1>
        <h2 id="quote">Nope</h2>          
        <button onclick="SetQuote();Animate()">Check if Half-Life 3 is confirmed</button>
        <p>Check again tomorrow, might be a different result </p>
    </div> 
    }
    else
    {
    <div class="text-center">
        <h1 class="display-4">Is Half-Life 3 Confirmed? </h1>
        <h2 id="confirmed">YES</h2>
        <h2>Half-Life 3 IS CONFIRMED! </h2>            
    </div>
  
    }
}